{% extends "pragmatic-translations/_layout" %}

{% set title = "Opciones" %}
{% set activeSection = "options" %}

{% block main %}
  <div class="flex justify-between align-center">
    <h1>Opciones</h1>
  </div>

  <p class="light" style="margin-top: 12px;">No options available yet.</p>
{% endblock %}
